<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <!--<%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %> -->
    <%= image_tag "logo_4.png" %>
    <% end %>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <!-- input by OscNil -->
        <li class="nav-item">
          <%= link_to "Find a boat", boats_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "My bookings", "#", class: "nav-link", id: "my-bookings" %>
        </li>
        <li class="nav-item">
          <%= link_to "Offer boat", new_boat_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My boats
        </a>
          <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
            <% @my_boats.each do |boat| %>
              <%= link_to boat.boat_name, boat_path(boat), class: "dropdown-item" %>
            <% end %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to "Received bookings", my_received_bookings_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag current_user.user_pic_url, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Find a boat", boats_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Host a boat", new_boat_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Log in / Sign up', new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
