<h1>Add new Boat</h1>
<h6>Please take your time to describe your vessel. Have a think about what type of person will be reading this description. Will they understand your wording? Maybe you should try showing it to someone else and get their feedback.</h6>
<br>

<%= simple_form_for @boat, html: {class: "eau-form"} do |f|  %>
<%= f.input :boat_name, :label => "The Name of the Boat", :placeholder => "MS Sister Mary Frances III of the Dalmatian sea" %>
<%= f.input :day_price, :label => "Price per day (in ueros, €)", :placeholder => "€ 200" %>
<%= f.input :nbr_beds, :label => "Number of bunks", :placeholder => "65" %>
<%= f.input :description, :placeholder => "This fabulous steam machine was first launched in the Sussex harbor back in 1899. I has a crew of 16 people including 2 chefs. Top speed: 2.8 knots." %>
<%= f.input :photo %>
<%= f.input :photo_cache, as: :hidden %>
<%= f.submit "Add new boat", class: "btn btn-primary" %>
<% end %></div>

