<div class="card">
  <div class="show-boat-card d-flex justify-content-between">
    <div class="show-left">
      <%= cl_image_tag @boat.photo, width: 600, height: 350, crop: :fill %>
    </div>
    <div class="show-right ml-3 mr-3">
      <h1 class="boat-name"><%= @boat.boat_name %></h1>
      <p>About: <%= @boat.description %></p>
      <p>Number of bunks: <%= @boat.nbr_beds %> &nbsp <i class="fas fa-bed"></i></p>
      <p>Day price: <%= @boat.day_price %>€</p>
      <p><%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-large card-avatar" %></p>
      <p>Owner email: <%= @boat.owner.email %></p>
      <% if current_user.id == @boat.owner_id %>
        <p>This boat belongs to you!</p>
        <%= link_to "Sink the boat", boat_path(@boat), method: :delete, class: "btn btn-danger" %>
      <% else %>
        <%= link_to "Book this boat", new_boat_booking_path(@boat), class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
